{
  "semi": true,
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "es5",
  "bracketSameLine": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^[vue]",
    "^vue-router$",
    "^pinia$",
    "^@/composables",
    "^@/utils",
    "^~/icons",
    "^@(?!/)",
    "^primevue",
    "^@/components/ui",
    "^@/components/",
    "^views/",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}